<div class="card teal darken-1">
    <div class="card-image">
        <img src="/assets/pull_the_plug.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Geräte im Standby verbrauchen Geld, so verbraucht die Kombination aus Fernseher und Hi-Fi-Anlage jährlich im Durchschnitt
            Strom im Wert von rund 30€ im Standby.
            Schließe am besten nur Geräte die gleichzeitig genutzt werden an eine Mehrfachsteckerleiste, falls die Faulheit dich dazu bewegt diese
            nicht auszuschalten, versuch es Mal mit smarten Steckdosen, darüber lässt sich oftmals auch der Stromverbrauch messen.
        </p>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Verbraucherzentrale Rheinland-Pfalz 2014)</a>
    </div>
</div>
