<div class="card orange darken-1">
    <div class="card-image">
        <img src="/assets/use_clean_clouds.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Achte darauf woher dein Cloud-Anbieter seinen Strom bezieht und welche Maßnahmen für eine effizientere Ressourcen Nutzung er trifft.
        </p>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Stolz/Jungblut 2019)</a>
    </div>
</div>
