<div class="card lime darken-1">
    <div class="card-image">
        <img src="/assets/refurbished.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Schonmal über ein Refurbished-Produktnachgedacht? Diese Geräte sind generalüberholt (und damit fast wie neu). Oftmals handelt es sich um ehemalige Firmen-oder Ausstellungsgeräte.“
        </p>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Schasche 2017)</a>

    </div>
</div>
