<div class="card pink darken-1">
    <div class="card-image">
        <img src="/assets/sustainable_shop.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">Bestelle im Idealfall bei Onlineshops die nicht allzu weit von dir
            entfernt sind und dessen Geschäftskonzept von Grund auf nachhaltig ist.
            Ob dieses wirklich nachhaltig ist, kannst du am Sortiment, am Webauftritt,
            der Versandart und an den Verpackungen erkennen.
        </p>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Utopia 2020)</a>
    </div>
</div>