<div class="card purple darken-1">
    <div class="card-image">
        <img src="/assets/water_pollution.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">Elektrogeräte kannst du kostenlos bei Recycling- und Wertstoffhöfen in deiner Nähe abgeben.
            Bitte schmeiß Elektrogeräte nicht in den Restmüll, sie werden über kurz oder lang sonst die Umwelt mehr als nötig verschmutzen.
        </p>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Bsr.de 2020)</a>

    </div>
</div>