<div class="card deep-purple darken-1">
    <div class="card-image">
        <img src="/assets/start_recycling.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Materialien die durch Recycling erworben werden müssen nicht neu produziert werden, weshalb es auch sinnvoll ist,
            defekte Elektrogeräte recyceln zu lassen, statt sie in Abstellkammern verrotten zu lassen.
        </p>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Billig 2017)</a>

    </div>
</div>

