<div class="card blue darken-1">
    <div class="card-image">
        <img src="/assets/keep_hardware_clean.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Halte deine Hardware sauber, es ist ein Anfang, wenn du Lüftungsschlitze regelmäßig absaugst, sodass Staub gar nicht ins innere gelangen kann.
        </p>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Rau 2013)</a>

    </div>
</div>

