<div class="card teal darken-1">
    <div class="card-image">
        <img src="/assets/turn_off_mobile.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Menschen, die zu jeder Zeit erreichbar sind, fühlen sich mehr gestresst. Tu dir was Gutes und stelle dein Smartphone auf Stumm, wenn du mit Freunden oder der Familie Zeit verbringst.
        </p>

        <a target="_blank" class="white-text" href="sources.html">(vgl. Haase 2019)</a>
    </div>
</div>