<div class="card lime darken-1">
    <div class="card-image">
        <img src="/assets/software_updates.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Android Smartphones erhalten durchschnittlich 3 Jahre Software Updates, während Apple Geräte 5-6 Jahre lang softwareseitig unterstützt werden.
        </p>

        <a target="_blank" class="white-text" href="sources.html">(vgl. Richter 2020)</a>
        <a target="_blank" class="white-text" href="sources.html">(vgl. Mobile & SecurityLab 2019)</a>
    </div>
</div>