<div class="card pink darken-1">
    <div class="card-image">
        <img src="/assets/music_streaming_pollution.png" alt="Begleitende Grafik zum folgenden Text">
    </div>
    <div class="card-content">
        <p class="white-text">
            Zwar ist der Plastikverbrauch durch Streaming zurück gegangen, dennoch wird mehr CO2 denn je durch die Speicherung von Musik ausgestoßen, da das Streaming den übermäßigen Musikkonsum fördert.
            Höre Musik deshalb bewusst, lass zum Beispiel deine Musikanlage nicht einfach laufen, wenn du die Wohnung, oder den Raum für längere Zeit verlässt.
        </p>

        <a target="_blank" class="white-text" href="sources.html">(vgl. Bieser/Coroamă 2020)</a>
    </div>
</div>
