<!DOCTYPE html>
<html lang="de">
<head>
    <title>Bits und Bäume Projekt</title>

    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="/materialize-css/css/materialize.min.css">
    <link rel="stylesheet" href="/css/client.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="blue-grey darken-2">

<!-- Navbar and Header -->
<div id="nav-placeholder"></div>
<!-- Site Content -->
<main>
    <ul class="collection with-header">
        <li class="collection-header"><h4>Credits</h4></li>
        <li class="collection-item"><div>Icons made by<a href="https://www.flaticon.com/free-icon/smoke_1103317?term=CO2&page=2&position=43" title="pongsakornRed">pongsakornRed</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item">Streaming Bildschirm:
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/ddara" title="dDara">dDara</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/catkuro" title="catkuro">catkuro</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/free-icon/music-cloud_3226293" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/srip" title="srip">srip</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/authors/phatplus" title="phatplus">phatplus</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item"><div>Icons made by <a href="https://www.flaticon.com/free-icon/plastic_2666670" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div></li>
        <li class="collection-item">Photo by <a href="https://www.pexels.com/@emmet-35167?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Emmet</a> from <a href="https://www.pexels.com/photo/scrap-metal-trash-litter-scrapyard-128421/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a></li>
        <li class="collection-item">Photo by <a href="https://www.pexels.com/@pixabay?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pixabay</a> from <a href="https://www.pexels.com/photo/architecture-bay-bridge-buildings-356830/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a></li>
    </ul>
</main>
<!-- Footer -->
<div id="footer-placeholder"></div>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/popperjs/umd/popper.min.js"></script>
<!-- Import own script (the compiled javascript) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="src/client.js"></script>
</body>
</html>